.mainPage{
    /* display: flex;
     justify-content: space-between;
     align-items: flex-start; */
     margin-left: 260px;
}

aside{
   position: fixed;
   top: 0;
   left: 0;
   background-color: #406169;
   width: 250px;
   height: 100vh;
   display: flex;
   flex-direction: column;
   align-items: center;
}
.logo{
    margin-top: 25px;
    height: 150px;
}
.aboutMeText{
    padding: 20px;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
}

.navLeft{
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

.navLeft ul{
    padding-left: 0px;
}

.navItem{
    background-color: #79858A;
    color: white;
    width: 100%;
    margin-top: 2px;
    margin-bottom: 2px;
    display: flex;
    flex-direction: row;
}
.sideAccent{
    height: 40px;
    background-color: white;
    width: 15px;
}
.inactive{
    display: none;
}

.active{
    background-color: #406169 !important;
}
.active a{
    color: white !important;
}
.navItem:hover{
    background-color: white;
    color: #406169;
}


.navItem a{
    text-decoration: none;
    display: block;
    padding: 10px 20px;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
}
.navItem a:hover{
    color: #406169;
}

.caseStudyZone{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
}
.caseStudyTab{
    margin-top: 54px;
    padding: 50px 10px;
    margin-top: 54px;
}
.caseStudyTabText{
    font-family: 'Josefin Sans', sans-serif;
}
.tabImage{
 /* margin-left: 30px;
 margin-right: 35px; */
 width: 100%;
}
.caseStudyHeaderTwo{
    font-family: 'Josefin Sans', sans-serif;
}

#musicaTab{
    background-color: #FF9900;
}
#grantsDotGovTab{
    background-color: #3A4F1B;
    color: white;
}
#familabTab{
    background-color: #3399FE;
}