.mainPage{
    display: flex;
     justify-content: space-between;
     align-items: flex-start;
}

aside{
    position: fixed;
   background-color: #406169;
   width: 250px;
   height: 100vh;
   display: flex;
   flex-direction: column;
   align-items: center;
}
.logo{
    margin-top: 25px;
    height: 150px;
}
.aboutMeText{
    padding: 20px;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
}

.navLeft{
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.navItem{
    background-color: #79858A;
    color: white;
    width: 100%;
    margin-top: 2px;
    margin-bottom: 2px;
}

.navItem:hover{
    background-color: white;
    color: #406169;
}

.navLeft .navItem{
    display: inline-block;
    align-items: flex-start;
}

.navItem a{
    text-decoration: none;
    display: block;
    padding: 10px 20px;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
}
.navItem a:hover{
    color: #406169;
}

.caseStudyZone{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
}
.caseStudyTab{
    display: inline-flex;
    width: 80%;
    height: 220px;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-top: 54px;
}
.caseStudyTabText{
    font-family: 'Josefin Sans', sans-serif;
}
.tabImage{
 margin-left: 30px;
 margin-right: 35px;
}
.caseStudyHeaderTwo{
    font-family: 'Josefin Sans', sans-serif;
}

#musicaTab{
    background-color: #FF9900;
}
#grantsDotGovTab{
    background-color: #3A4F1B;
    color: white;
}
#familabTab{
    background-color: #3399FE;
}