aside{
   background-color: #406169;
   width: 200px;
   height: 100vh;
   display: flex;
   flex-direction: column;
}
.logo{
    height: 150px;
}
.aboutMeText{
    color: white;
}

.navLeft{
    list-style: none;
    margin: 0px;
    padding: 0px;
}


.navLeft .navItem{
    display: inline-block;
    align-items: flex-start;
}

.navItem a{
    text-decoration: none;
    display: block;
    padding: 10px 20px;
}

.caseStudyZone{
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.caseStudyTab{
    display: inline-flex;
    width: 950px;
    height: 320px;
    align-items: flex-end;
    justify-content: center;
}
#musicaTab{
    background-color: #FF9900;
}
#grantsDotGovTab{
    background-color: #3A4F1B;
}
#familabTab{
    background-color: #3399FE;
}